.home__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin-top: 8rem;
}

.home__title h1 {
    font-size: 38px;
}

.container__connected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container__connected h1 {
    margin-bottom: 1.5rem;
}

.noshadow {
    box-shadow: none;
    width: 150px;
}

