.privatehome {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.privatehome__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.privatehome__container h1 {
 background: white;
 border-radius: 20px;
 margin: 4rem;
 padding: 2rem;
 color: #470084;
}
.privatehome__container img {
 background: white;
 border-radius: 20px;
 padding: 1rem;
 color: #470084;
}


@media screen and (max-width: 720px) {
    .privatehome__container h1 {
        text-align: center;
    }
    .privatehome__container img {
        margin: 2rem;
        width: 400px;
    }
  }
@media screen and (max-width: 500px) {
    .privatehome__container img {
        margin: 1rem;
        width: 300px;
    }
  }